@import 'primer-dark.css';

@font-face {
    font-family: 'Alkatra';
    src: url('Alkatra.ttf');
}
.root{
	 -fx-font-family: 'Alkatra';
}
#showPreviewPane{
	-fx-background-color :   -color-accent-7;
}

#startProcessPane{
	-fx-background-color :   -color-accent-8;
}


#showPreviewPane:hover {
	-fx-background-color :  -color-accent-4;
}

#startProcessPane:hover {
	-fx-background-color : -color-accent-4;
	
}

.image-view-wrapper {
    -fx-border-color:-color-accent-9;
    -fx-border-style: solid;
    -fx-border-width: 1;
}

.title{
	-fx-font-family: 'Alkatra';
	-fx-font-size: 40px;
}