@import 'hiberbee.css';

@font-face {
    font-family: 'Josefin Sans';
    src: url('JosefinSans-Regular.ttf');
}
.root{
	 -fx-font-family: 'Josefin Sans';
}

.button{
	-fx-text-fill: -fx-accent-base;
}
